# Fichiers Python compilés
__pycache__/
*.pyc
*.pyo
*.pyd

# Environnements virtuels
venv/
env/
ENV/

# Fichiers de données (à ne pas versionner)
data/
*.tif
*.tiff

# Modèles entraînés (fichiers lourds)
trained_models/
semantic_segmentation/unet/trained_models/

# Logs
logs/
*.log

# Fichiers d’IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Autres
*.egg-info/
dist/
build/